html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}body {line-height: 1;}ol, ul {list-style: none;
}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse:collapse;border-spacing:0;}

/* we begin */


body {
  font-size: 14px;
  line-height: 22px;
  padding: 22px;
	background:
		url("character_sheet_frame.png") no-repeat,
		url("parchment.jpg");
}

input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.sheet-text-input {
	background:transparent;
}

h2 {
  text-align: center;
  margin: 22px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Uncial Antiqua', cursive;
}

/**
 * Basic Info
 */

.sheet-basic-info .sheet-inner {
  display: table;
}

.sheet-basic-info .sheet-inner label,
.sheet-basic-info .sheet-inner input {
  display: table-cell;
  box-sizing: border-box;
}

.sheet-basic-info .sheet-inner label {
  white-space: nowrap;
  width: 1%;
  padding-right: 11px;
  font-family: 'Uncial Antiqua', cursive;
}

.sheet-basic-info .sheet-inner input {
  width: 99%;
}


.sheet-culture-wrapper,
.sheet-standard-of-living-wrapper,
.sheet-calling-wrapper,
.sheet-shadow-weakness-wrapper {
  display: inline-block;
  width: 50%;
}



/**
 * Traits
 */
.sheet-traits {
  /*display: table;*/
}

.sheet-trait {
  display: table;
  width: 100%;
}

.sheet-trait > * {
  display: table-cell;
}

.sheet-trait label {
  width: 1%;
  white-space: nowrap;
  padding-right: 11px;
  font-family: 'Uncial Antiqua', cursive;}
}

.sheet-trait input {
  width: 100%;

}

/**
 * Attributes
 */
.attr_wrapper {
  height: 43px;
  display: inline-block;
  width: 33%;
  text-align: center;
}

.attr_wrapper input {
  text-align: center;
}

.attr_content {
  display: inline-block;
  position: relative;
}

.attr_content > label {
  color: #90252A;
  font-size:18px;
  font-weight: bold;
  font-family: 'Uncial Antiqua', cursive;
}

.attr_content > input {
  border-radius: 100%;
  width: 50px;
  font-size:18px;
  font-style:"bold";
  height: 43px;
  border: 4px double black;
  background:url('parchment.jpg');
}

.attr_favoured-wrapper {
  font-size: 11px;
  line-height: 30px;
  position: absolute;
  top: -5px;
  right: -70px;
}

.attr_favoured-wrapper > label {
	font-family: 'Uncial Antiqua', cursive;
}

.attr_favoured-wrapper > input {
  border-radius: 100%;
  width: 30px;
  height: 25px;
  border: 1px solid black;
  background:url('parchment.jpg');
}








